<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Weather App</h1>


<div class="left">
    <div class="container">
        <h2>Temperature: </h2>
    </div>


    <div class="container1">
        <p>T1: </p>
        <input textarea="T1"> </input>
        <p>T2: </p>
        <input textarea="T2"> </input>
        <p>T3: </p>
        <input textarea="T3"> </input>
    </div>


    <div class="container2">
        <h2>Rain probability: </h2>
    </div>


    <div class="container3">
        <p>Rain on day 1 (y/n): </p>
        <input textarea="R1"> </input>
        <p>Rain on day 2 (y/n): </p>
        <input textarea="R1"> </input>
        <p>Rain on day 3 (y/n): </p>
        <input textarea="R1"> </input>
    </div>
</div>


<div class="right">
    <div class="container4">
        <h2>Cloud Type: </h2>
    </div>


    <div class="container5">
        <p> 1. High and whispy</p>


        <p> 2. Low and gathering </p>  
       
        <p> 3. Big fluffy clouds</p>


        <input textarea="cloudType"> </input>
    </div>
</div>
    <button>Submit</button>
</body>
</html>
